services:
  - type: web
    name: plataforma-perfumes
    env: python
    buildCommand: npm ci && npx @tailwindcss/cli -i web_perfumes_app/assets/input.css -o web_perfumes_app/static/src/output.css && pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate
    startCommand: gunicorn site_perfumes.wsgi:application --timeout 180
    autoDeploy: true
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: site_perfumes.settings
