{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Plataforma Perfumes {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body class=" bg-gray-50 text-gray-900">
    <header class="bg-gray-100 text-white p-4 pl-24">
        <img src="{% static 'assets/logoPyme.jpg'%}" alt="Logo" class="h-32 w-auto cursor-pointer">
        <form action="{% url 'refrescar_perfumes' %}" method="post">
            {% csrf_token %}
            <button type="submit" 
            class="inline-flex h-12 items-center justify-center rounded-md bg-neutral-950 px-6 font-medium text-neutral-50 cursor-pointer transition active:scale-110">
                Recargar perfumes
            </button>
        </form>
    </header>
    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>